<div class="form-group">
	{{ form_row(form.name, { 'attr': {'class': 'form-control'} }) }}
</div>
<div class="form-group">
	{{ form_row(form.phone, { 'attr': {'class': 'form-control'} }) }}
</div>
<div class="form-group">
	{{ form_row(form.email, { 'attr': {'class': 'form-control'} }) }}
</div>
<div class="form-group">
	{{ form_row(form.address, { 'attr': {'class': 'form-control'} }) }}
</div>
<div class="form-group">
	{{ form_row(form.vehicleType, { 'attr': {'class': 'form-control'} }) }}
</div>
<div class="form-group">
	{{ form_row(form.photoTruck, { 'attr': {'class': 'form-control'} }) }}
</div>
<div class="form-group">
	{{ form_row(form.commissionPermits, { 'attr': {'class': 'form-control'} }) }}
</div>
<div class="form-group">
	{{ form_row(form.portsPermits, { 'attr': {'class': 'form-control'} }) }}
</div>
<div class="form-group">
	{{ form_row(form.carPolicy, { 'attr': {'class': 'form-control'} }) }}
</div>
<div class="form-group">
	{{ form_row(form.mercancyPolicy, { 'attr': {'class': 'form-control'} }) }}
</div>
<div class="form-group">
	{{ form_row(form.responsabilityPolicy, { 'attr': {'class': 'form-control'} }) }}
</div>
<div class="form-group">
	{{ form_row(form.contractPickmystuff, { 'attr': {'class': 'form-control'} }) }}
</div>
{{ form_widget(form._token, { 'attr': {'class': 'form-control'} }) }}
