{% macro list(carriers) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'GeckoBackendBundle:Macros:alerts.html.twig' as alerts %}
{% import 'GeckoBackendBundle:Macros:misc.html.twig' as misc %}

{% if carriers|length > 0 %}
<div class="box">
	<div class="box-body table-responsive no-padding">
		<table class="table table-hover"><tbody>
			<tr>
				<th>ID</th>
				<th>Nombre y Apellido</th>
				<th>Teléfono</th>
				<th>Email</th>
				<th>Dirección</th>
				<th>Tipo de vehículo</th>
				<th>Fotografia Camión</th>
				<th>Permisos Comisión</th>
				<th>Permisos Puertos</th>
				<th>Póliza de auto</th>
				<th>Póliza de Mercancía</th>
				<th>Póliza de Resp. pública</th>
				<th>Contrato PickMyStuff</th>
				<th></th>
			</tr>
			{% for carrier in carriers %}
	        <tr>
				<td>{{ carrier.id }}</td>
				<td>{{ carrier.name }}</td>
				<td>{{ carrier.phone }}</td>
				<td>{{ carrier.email }}</td>
				<td>{{ carrier.address }}</td>
				<td>{{ carrier.vehicleType }}</td>
				<td class="text-center">{% if carrier.photoTruck %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}
				</td>
				<td class="text-center">{% if carrier.commissionPermits %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}
				</td>
				<td class="text-center">{% if carrier.portsPermits %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}
				</td>
				<td class="text-center">{% if carrier.carPolicy %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}
				</td>
				<td class="text-center">{% if carrier.mercancyPolicy %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}
				</td>
				<td class="text-center">{% if carrier.responsabilityPolicy %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}
				</td>
				<td class="text-center">{% if carrier.contractPickmystuff %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}
				</td>
				<td>									
					<div class="pull-right">	
              			<a class="btn btn-primary" href="{{ path('odiseo_pickmystuff_backend_list_carrier_update', {'id': carrier.id}) }}"><span>Editar</span></a>
	                    <form action="{{ path('odiseo_pickmystuff_backend_list_carrier_delete', {'id': carrier.id}) }}" onsubmit="return confirm('Estas seguro?')" method="post" style="display: inline;">
    						<input type="hidden" name="_method" value="DELETE">
    						<button class="btn btn-danger">
        						<i class="icon-trash"></i><span>Eliminar</span>
    						</button>
						</form>
	                </div>
				</td>
			</tr>
	        {% endfor %}
		</tbody></table>
	</div>
</div>
{% else %}
{{ alerts.info('gecko.backend.no_results'|trans) }}
{% endif %}

{% endmacro %}