{% extends 'GeckoBackendBundle::layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'GeckoBackendBundle:Macros:misc.html.twig' import pagination %}
{% from 'OdiseoPickMyStuffBundle:Backend/Carrier:macros.html.twig' import list  %}

{% block section_title %}
<h1>Transportistas</h1>
{% endblock %}

{% block breadcrums %}
<ol class="breadcrumb">
	<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
	<li class="active">Transportistas</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('odiseo_pickmystuff_backend_carrier_create'), ' Crear') }}						
		<div class="pull-right">	
			<form action="{{ path('odiseo_pickmystuff_backend_carrier_send_sms_all')}}" onsubmit="return confirm('Confirma enviar sms a todos?')" method="post" style="display: inline;">
				<input type="hidden" name="_method" value="send">
				<button class="btn btn-warning">
					<span>Send SMS to ALL</span>
				</button>
			</form>
		</div>
    </div>
 	{% for flashMessage in app.session.flashbag.get('notice') %}
 	<p class="sended"><i class="flash-notice"></i> {{ flashMessage }}</p>
	{% endfor %}
</div>
{{ list(carriers)  }}
{{ pagination(carriers) }}

{% endblock %}
