{% macro list(mercancies) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'GeckoBackendBundle:Macros:alerts.html.twig' as alerts %}
{% import 'GeckoBackendBundle:Macros:misc.html.twig' as misc %}

{% if mercancies|length > 0 %}
<div class="box">
	<div class="box-body table-responsive no-padding">
		<table class="table table-hover"><tbody>
			<tr>
				<th>ID</th>
				<th>Tipo de paquete</th>
				<th>Largo</th>
				<th>Ancho</th>
				<th>Alto</th>
				<th>Peso</th>
				<th>Cantidad</th>
				<th>Imagen de Mercancia</th>
				<th>Pedido Nº</th>
				<th></th>
			</tr>
			{% for mercancy in mercancies %}
	        <tr>
				<td>{{ mercancy.id }}</td>
				<td>{{ mercancy.type }}</td>
				<td>{{ mercancy.length }}</td>
				<td>{{ mercancy.width }}</td>
				<td>{{ mercancy.height }}</td>
				<td>{{ mercancy.weight }}</td>
				<td>{{ mercancy.quantity }}</td>				
	            <td class="info">
	            	{% if mercancy.imageName != null %}
						<img class="center-block" src="{{ mercancy.imageName|imagine_filter('pick_262x255') }}">
					{% else %}
					{% endif %}
	            </td>
				<td>{{ mercancy.order.id }}</td>
				<td>									
					<div class="pull-right">					
              			<a class="btn btn-primary" href="{{ path('odiseo_pickmystuff_backend_mercancy_update', {'id': mercancy.id}) }}"><span>Editar</span></a>
	                    <form action="{{ path('odiseo_pickmystuff_backend_mercancy_delete', {'id': mercancy.id}) }}" onsubmit="return confirm('Estas seguro?')" method="post" style="display: inline;">
    						<input type="hidden" name="_method" value="DELETE">
    						<button class="btn btn-danger">
        						<i class="icon-trash"></i><span>Eliminar</span>
    						</button>
						</form>
	                </div>
				</td>
			</tr>
	        {% endfor %}
		</tbody></table>
	</div>
</div>
{% else %}
{{ alerts.info('gecko.backend.no_results'|trans) }}
{% endif %}

{% endmacro %}