{% extends 'GeckoBackendBundle::layout.html.twig' %}

{% block section_title %}
<h1>Dashboard <small>Bienvenido</small></h1>
{% endblock %}

{% block breadcrums %}
<ol class="breadcrumb">
	<li class="active"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-4 col-xs-4">
		<div class="small-box bg-aqua">
			<div class="inner">
				<h3>{{ totalOrders }}</h3>
				<p>Pedidos Totales</p>
			</div>
			<div class="icon"><i class="ion ion-stats-bars"></i></div>
			<a href="{{ path('odiseo_pickmystuff_backend_order_index')}}" class="small-box-footer">
				Ver Todos Los Pedidos <i class="fa fa-arrow-circle-right"></i>
			</a>
		</div>
	</div>
	<div class="col-lg-4 col-xs-4">
		<div class="small-box bg-green">
			<div class="inner">
				<h3>{{ complete }}</h3>
				<p>Pedidos Completados</p>
			</div>
			<div class="icon"><i class="ion ion-stats-bars"></i></div>
			<a href="{{ path('odiseo_pickmystuff_backend_order_index')}}" class="small-box-footer">
				Ver Todos Los Pedidos <i class="fa fa-arrow-circle-right"></i>
			</a>
		</div>
	</div>
	<div class="col-lg-4 col-xs-4">
		<div class="small-box bg-red">
			<div class="inner">
				<h3>{{ notComplete }}</h3>
				<p>Pedidos incompletos</p>
			</div>
			<div class="icon"><i class="ion ion-stats-bars"></i></div>
			<a href="{{ path('odiseo_pickmystuff_backend_order_index')}}" class="small-box-footer">
				Ver Todos Los Pedidos <i class="fa fa-arrow-circle-right"></i>
			</a>
		</div>
	</div>
</div>
{% endblock %}
